<!--Login page-->
<style>
  .login{
  background: #229494!important;
  color: white !important;
  }
  .login:hover {
      background: #4dadad!important
  }
</style>
<mat-sidenav-container>
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
      <form fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
          <mat-card class="p-0 mat-elevation-z24 box">
              <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                  <img style="width:200px;margin-top:7px;margin-left:5px;" src="../assets/img/om_logo.png">
              </div>
          </mat-card>
      </form>
  </div>
</mat-sidenav-container>