body {
    background: aliceblue !important;
}

.logo {
    margin: 0px auto;
    margin-top: 54px;
}

.pagetitle {
    text-align: center;
    margin-top: 44px;
    font-family: none;
}

.question .form-group mat-radio-button:nth-child(2) {
    padding-left: 15px;
}

.question mat-card {
    padding: 24px 26px !important;
}

.question label {
    padding-bottom: 10px;
}

.question {
    padding-bottom: 20px;
}

.survey-container {
    margin-bottom: 50px;
}

::ng-deep .noUi-value-sub {
    color: black !important;
    font-size: 15px !important;
}

::ng-deep .noUi-marker-horizontal.noUi-marker-large {
    height: 10px !important;
}

::ng-deep .noUi-value-large {
    color: black !important;
}

::ng-deep nouislider {
    margin-bottom: 58px !important;
}